
/* MAIN */
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 60px;
}

/*HERO GRID */
.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-auto-rows: auto;          
  gap: 60px;

  width: 100%;          
  padding: 80px 0;     
}

.hero-left,
.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left {
  align-items: center;
  text-align: center; 
}

.hero-left .btn {
  align-self: center;    
  width: fit-content;
}


.hero-right {
  align-items: flex-start;
  text-align: left;
}

/* TEXT */
h1 {
  font-size: 64px;
  line-height: 1;
  color: var(--accent-color2);
  letter-spacing: -3px;
}

h2,
h3 {
  color: var(--accent-color2);
  margin-bottom: 16px;
}

p {
  font-size: 18px;
  line-height: 1.8;
  color: var(--main-text-color);
}

.intro {
  font-size: 18px;
}

.highlight {
  color: var(--neon-pink);
}

.cta-text {
  margin: 20px 0;
  color: var(--neon-pink);
}

/* IMAGE */
.hero-right.image-placeholder {
  min-height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right.image-placeholder img {
  width: 60%;
  height: auto;
  object-fit: contain;
  border-radius: 24px;
}

/*  BOTTOM GRID */
.bottom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-block ul {
  list-style: none;
}

.info-block li {
  margin-bottom: 10px;
  color: var(--main-text-color);
}

/*  TABLET  */
@media (max-width: 1024px) {

  .main-container {
    padding: 60px 48px;
  }

  .hero-grid {
    padding: 60px 48px;
    gap: 48px;
  }

  h1 {
    font-size: 48px;
    letter-spacing: -2px;
  }

  .hero-right.image-placeholder {
    min-height: 360px;
  }

  .hero-right.image-placeholder img {
    width: 50%;
  }
}

/* MOBILE */
@media (max-width: 768px) {

  .main-container {
    padding: 40px 24px;
  }

  .hero-grid {
    grid-template-columns: 1fr; 
    padding: 40px 24px;
    gap: 32px;
    text-align: center;
  }

  .hero-left,
  .hero-right {
    align-items: center;
    text-align: center;
    
  }

  h1 {
    font-size: 38px;
    letter-spacing: -1px;
  }

  p {
    font-size: 15px;
    line-height: 1.6;
  }

  .hero-right.image-placeholder {
    min-height: 260px;
  }

  .hero-right.image-placeholder img {
    width: 35%;
  }

  .bottom-grid {
    grid-template-columns: 1fr; 
    gap: 28px;
    justify-items: center;
  }

  .info-block {
    align-items: center;
    text-align: center;
  }
}
