/*   BASE */
:root {
  --muted: #666666;
  --radius: 18px;
  --transition: 0.35s ease;
  --background-color: #000000;
  --background-color-light: #faf9f7;
  --text: #111111;
  --main-text-color: #faf9f7;
  --main-text-color2: #5e5a4f;
  --accent-color1: #233f02;
  --accent-color2: #a2e435;
  --pink: #ffcaff;
  --neon-pink: #ff1cf7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", sans-serif;
  background: var(--background-color);
  color: var(--accent-color2);
  line-height: 1.5;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: min(1200px, 90%);
  margin-inline: auto;
}

/* HEADER */

.site-header {
  padding: 18px 0;
  border-bottom: 1px solid;
  background: (--background-color);
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 20;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  color: var(--accent-color2);
  transition: color 0.3s ease;
}

.logo:hover {
  color: var(--pink);
  text-shadow: 0 0 5px var(--neon-pink), 0 0 10px var(--neon-pink),
    0 0 15px var(--neon-pink);
}

/* NAV */
.nav {
  display: flex;
  gap: 32px;
}

#main-nav {
  background-color: var(--background-color);
}

.nav a {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav a:hover {
  color: var(--pink);
  text-shadow: 0 0 5px var(--neon-pink), 0 0 10px var(--neon-pink),
    0 0 15px var(--neon-pink);
}

.nav-toggle {
  display: none;
  width: 22px;
  height: 22px;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  height: 2px;
  background: var(--accent-color2);
  border-radius: 2px;
  transition: 0.3s;
}

.hamburger {
  width: 26px;
  position: relative;
}

.hamburger::before {
  width: 26px;
  position: absolute;
  top: -8px;
}

.hamburger::after {
  width: 26px;
  position: absolute;
  top: 8px;
}

/* HERO */
.hero {
  width: 100%;
  height: 100vh;
  background: url("../images/BACK.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.hero.hero-no-bg {
  background: none !important;

  background-color: transparent;
}

.hero-grid {
  display: flex;
  justify-content: flex-start;
  width: 70%;

  padding-left: 40px;
}

.hero-main .eyebrow {
  color: var(--accent-color2);

  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;

  padding: 4px 12px;

  border-radius: 999px;

  border: 1px solid var(--accent-color2);

  background-color: rgba(0, 255, 153, 0.1);

  font-size: 0.9rem;
}

.hero-main .hero-title {
  font-size: 48px;
  color: var(--accent-color2);
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
  letter-spacing: -1px;
}

.hero-main .lead {
  font-size: 24px;
  color: var(--main-text-color);
  line-height: 1.6;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 28px;
  min-width: 180px;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid var(--neon-pink);
  color: var(--main-text-color);
  background-color: transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: fit-content;  
}

.btn:hover {
  background-color: var(--neon-pink);
  color: #000;
  opacity: 1;
  transform: scale(1.05);
}

/*SECTIONS */
.section {
  padding: 90px 0;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
  margin: 60px, 0, 15px, 0;
  text-align: center;
  letter-spacing: -1px;
}

.section-sub {
  color: var(--main-text-color);
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

/*ABOUT CARDS */
.cards-grid {
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.card {
  padding: 28px;
  border-radius: var(--radius);

  border: 1px solid #eee;
  transition: var(--transition);
  transform: translateY(20px);
  color: var(--main-text-color);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(255, 255, 255, 0.5);
  border-color: var(--background-color-light);
}

[data-anim] {
  opacity: 1;
  transform: translateY(20);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

[data-anim].visible {
  opacity: 1;
  transform: translateY(0);
}

/*PROJECTS  */
.bg-light {
  background: var(--background-color);
}

.projects-grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.project-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: var(--radius);
  border: 1px solid #e5e5e5;
  overflow: hidden;
  transition: var(--transition);
  opacity: 1;
  transform: translateY(0px);
}

.project-card:hover {
  position: relative;
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #fff;
}

.project-media {
  background: #f2f2f2;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #999;
  object-fit: cover;
}

.project-card figcaption {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: var(--accent-color2);
  padding: 20px;
  transition: bottom 0.3s ease;
}

.project-card:hover figcaption {
  bottom: 0;
}

.portfolio-footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.95rem;
  color: var(--muted);
}

.portfolio-footer a {
  color: var(--accent-color2);
  text-decoration: underline;
  transition: color 0.3s ease;
}

/* FOOTER (components)*/
.footer {
  background: #0d0d0d;
  color: #f2f2f2;
  padding: 90px 0 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}

.footer-info h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.footer-info p {
  max-width: 380px;
  line-height: 1.6;
  margin-bottom: 20px;
  opacity: 0.85;
}

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-list li {
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-list a {
  color: var(--accent-color2);
  text-decoration: none;
}

.contact-list a:hover {
  opacity: 0.7;
}

/* FORM */
.contact-form label {
  display: block;
  margin-bottom: 15px;
}

.contact-form span {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  opacity: 0.8;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #333;
  background: #1a1a1a;
  color: var(--main-text-color);
  border-radius: 6px;
  font-size: 15px;
  font-family: "Playfair Display", sans-serif;
  font-style: italic;


}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--accent-color2);
  outline: none;
}
.contact-form button,
.contact-form .btn {
  align-self: center;    
  width: fit-content;
}






/* COPYRIGHT */
.footer-note {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.5;
}



.table-title {
  font-size: 28px;
  margin: 40px 0 20px;
  color: var(--main-text-color2);
}

.table-container {
  overflow-x: auto;
  margin-bottom: 60px;
}

.cheat-table {
  width: 100%;
  border-collapse: collapse;
}

.cheat-table th,
.cheat-table td {
  padding: 12px 16px;
  border: 1px solid #eee;
  color: var(--main-text-color);
  text-align: left;
}

.cheat-table th {
  background-color: var(--accent-color1);
  color: var(--main-text-color);
}

@media (max-width: 1024px) {
  /* CONTAINER */
  .container {
    width: min(1000px, 92%);
  }

  /* HEADER */
  .header-inner {
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
  }

  /* HERO */
  .hero {
    height: auto;
    padding: 80px 0;
  }

  .hero-grid {
    width: 100%;
    padding-left: 0;
    justify-content: center;
    text-align: center;
  }

  .hero-main .hero-title {
    font-size: 40px;
  }

  .hero-main .lead {
    font-size: 20px;
  }
  .hero-overlay {
    background-color: rgba(0, 0, 0, 0);
  }

  /* SECTIONS */
  .section {
    padding: 70px 0;
  }

  .section-title {
    font-size: 32px;
  }

  .section-sub {
    font-size: 20px;
  }

  /* PROJECTS */
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* FOOTER */
  .footer {
    padding: 70px 0 30px;
  }
}

@media (max-width: 768px) {
  /* CONTAINER */
  .container {
    width: 92%;
  }

  /* HEADER */
  .header-inner {
    flex-direction: row;
  }

  /* NAV */
  .nav {
    position: absolute;
    top: 70px;
    right: 16px;
    background: var(--background-color);
    flex-direction: column;
    padding: 20px;
    border-radius: var(--radius);
    gap: 18px;
    border: 1px solid #333;
    transform: translateX(120%);
  }

  .nav.show {
    transform: translateX(0);
  }

  .nav-toggle {
    display: block;
  }

  /* HERO */
  .hero {
    padding: 60px 0;
  }

  .hero-grid {
    width: 100%;
    text-align: center;
  }

  .hero-main .hero-title {
    font-size: 32px;
  }

  .hero-main .lead {
    font-size: 18px;
  }

  /* BUTTON */
  .btn {
    min-width: auto;
    width: 100%;
  }

  /* CARDS */
  .cards-grid {
    grid-template-columns: 1fr;
  }

  /* PROJECTS */
  .projects-grid {
    grid-template-columns: 1fr;
  }

  /* FOOTER */
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer-info p {
    max-width: 100%;
  }

  .footer-note {
    font-size: 13px;
  }
}
